pkgbase = xerolinux-filesystem-tool-git
	pkgdesc = Xerolinux Fylesystem Configuration Tool
	pkgver = 0
	pkgrel = 0
	url = https://github.com/theduckchannel/xerolinux-filesystem-tool-git
	arch = any
	license = GPL3
	makedepends = git
	depends = coreutils
	depends = python
	depends = python-pyqt5
	depends = python-psutil
	provides = xerolinux-filesystem-tool-git
	conflicts = xerolinux-filesystem-tool-git
	source = git+https://github.com/theduckchannel/xerolinux-filesystem-tool-git.git
	md5sums = SKIP

pkgname = xerolinux-filesystem-tool-git
