[Desktop Entry]
Type=Application
Exec=/usr/bin/xerolinux-filesystem-tool
Path=/usr/bin
Comment=Simple Powermenu
Icon=/usr/share/icons/hicolor/48x48/apps/xerolinux-filesystem-tool-icon.png
Categories=System;
Name=simple-powermenu
